@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}
body,html{
    overflow-x: hidden;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}
h2{
    font-size: 46px;
    line-height: 64px;
    color: black;
}
h4{
     font-size: 20px;
    color: black;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
     font-size: 16px;
     color: black;
     margin :15px 0 20px 0;
    
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;

}
img{
    max-width: 100%;
    height: auto;
}
button.normal{
    font-size: 15px;
    font-weight: 900;
    padding: 15px 25px;
    color: #00615a;
    background-color: #fd9ac4;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    outline: none;
    border-radius: 7px;
    margin-bottom: 1px;
}
button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #494b4a;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    border: 1px solid #161616;
    outline: none;
    margin-bottom: 1px;
    border-radius: 3px;
}
button.black{
    font-size: 15px;
    font-weight: 600;
    padding: 11px 18px;
    color: #f7faf8;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    border: 1.5px solid #fff9f9;
    outline: none;
    margin-bottom: 1px;
    border-radius: 3px;
}

body{
    width: 100%;
    margin: 0;
    padding-top: 80px;

}
.logo{
    width:120px;   
    height:auto;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px ;
    width: 100%;
    background-color: rgb(228, 231, 235);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

section {
    scroll-margin-top: 80px;
}

#navbar ul{
    display: flex;
    align-items: center;
    position: relative;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3 ease;

}
#navbar li a:hover,
#navbar li a.active{
    color: rgb(189, 81, 240);
}
#navbar li a.active ::after,
#navbar li a:hover ::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(189, 81, 240);
    position: absolute;
    bottom: -4px;
    left: 20px;

}
/* home page */
#hero{
    background-image: url(img/hero.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #bd51f0;
}
#hero p{
    color: rgb(92, 89, 89);
}
#hero-button {
    background-image: url("img/buttonimg.png");
    background-size: cover;
    background-position: center;
    color: rgb(32, 32, 32);
    padding: 10px 40px 13px 45px;
    font-weight: 900;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}
#features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#features .fea-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow:10px 12px 18px rgba(83, 83, 83, 0.3);
    border: 1px solid #cce7d0;
    margin: 15px 0;
}
#features .fea-box img{
    width: 100%;
    margin-bottom: 5px;
    height: 100px;
    border-radius: 7px;
}
#features .fea-box h6{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    display: inline-block;
    padding: 9px 8px 6px 8px;
    color: black;
    background-color:#e6bafa ;
    line-height: 1;
    border-radius: 5px;

}
#features .fea-box:nth-child(1) h6{
    background:#fddde4;
}

#features .fea-box:nth-child(2) h6{
    background:#cdebbc;
}

#features .fea-box:nth-child(3) h6{
    background:#d1e8f2;
}

#features .fea-box:nth-child(4) h6{
    background:#f6dbf6;
}

#features .fea-box:nth-child(5) h6{
    background:#fff2e5;
}

#features .fea-box:nth-child(6) h6{
    background:#e3f0ff;
}
#features .fea-box:hover{
    box-shadow:0 10px 20px rgba(0,0,0,0.15);
    transform:translateY(-5px);
    cursor: pointer;
}
#products{
    text-align: center;
}
#products .container{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

#products .pro{
    width:23%;
    min-width:250px;
    padding:10px 12px;
    border:1px solid #d1e8f2;
    border-radius:20px;
    cursor:pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.05);
    margin:15px 0;
    transition:0.3s ease;
    position: relative;
}

#products .pro:hover{
    box-shadow:20px 20px 30px rgba(0,0,0,0.20);
}

#products .pro img{
    width:100%;
    height: 180px;
    object-fit: contain;
    border-radius:12px;
    box-shadow:10px 10px 15px rgba(0,0,0,0.10) ;
}
#products .pro .des{
    text-align: start;
    padding: 10px 0;
}
#products .pro .des span{
    color: #9a9c9c;
    font-size: 12px;
}
#products .pro .des h5{
    font-size: 17px;
    padding-top: 7px;
}
#products .pro .des i{
    font-size: 14px;
    color: rgb(240, 225, 18)

}
#products .pro .des h4{
    font-size: 15px;
    color: #088178;
    font-weight: 700;
    padding-top: 7px;
}
#products .pro .cart{
    width:40px;
    height:40px;
    border-radius:50%;
    background-color:rgb(191,236,221);
    color:#088178;
    border:1px solid #cce7d0;
    position:absolute;
    bottom:20px;
    right:10px;

    display:flex;
    align-items:center;
    justify-content:center;
}
#banner{
    display:flex;
    justify-content: center;
    text-align: flex-start;
    flex-direction: column;
    align-items:center;
    background-image: url(img/banner1.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position:20% 10%;
    background-repeat: no-repeat;
}
#banner h1{
    color:  #00615a;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    margin-left: -200px; 
    padding: 10px 20px;
    font-size: 40px;
}
#banner h4{
    color:#037a72; 
    margin-top: -20px;  
}
#banner h1 span{
    color: crimson;
}
#banner button:hover{
    background-color: #5c5f5f;
    color: #ffffff;
}
#banner1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
#banner1 .banner-box{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(img/banner2.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center 15%;
    padding: 30px;
}
#banner1 .banner-box2{
    background-image: url(img/banner4.png);

}
#banner1 h4{
    color: #0a0a0a;
    font-size: 20px;
    font-weight: 300;
}
#banner1 h2{
    color: #292828;
    font-size: 30px;
    font-weight: 800;
}
#banner1 span{
    color: #0a0a0a;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 20px;
}
#banner1 .banner-box:hover button{
    color: #fff2e5;
    background-color: rgb(1, 90, 63);
}
#banner1 .banner-box2 h4{
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    padding-right:80px;

}
#banner1 .banner-box2 h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
}
#banner1 .banner-box2 span{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 20px;
}
#banner1 .banner-box2:hover button{
    color: #e7e5e2;
    background-color: rgb(1, 90, 63);
}
#banner2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
#banner2 .banner-box{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(img/banner6.png);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center 15%;
    padding: 0 80px;
}
#banner2 .banner-box h4{
    padding-right: 30px;
    font-weight: 700;
    color: #000000;
}
#banner2 .banner-box h5{
    padding-right: 30px;
    font-weight: 400;
    color: #000000;
}
#banner2 .banner-box3{
    background-image: url(img/banner7.png);
}
#banner2 .banner-box4{
    background-image: url(img/banner8.png);
}
#banner2 .banner-box4 h4{
    color: #00615a;
    font-family: 'Playfair Display', serif;
    padding-right: 28px;
}
#banner2 .banner-box4 h5{
    padding-right: 10px;
}
#newstext{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/banner9.png);
    background-position: 20% 30%;
    background-color: #000000;
    
}
#newstext h4{
    font-size: 23px;
    font-weight: 700;
}
#newstext p{
    font-size: 17px;
    font-weight: 400;
    color: #414242;
}
#newstext p span{
    color: #ff0505;
}
#newstext .form{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
#newstext input{
    height: 3rem;
    width: 100%;
    padding: 0 1.25em;
    font-size: 13px;
    border: 0.5px solid transparent;
    border-radius: 5px;
    border-top-right-radius: 0;
     border-bottom-right-radius: 0;
}
#newstext button{
    background-color:#169c93;
    color: #f7ecec;
    white-space: nowrap;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#newstext button:hover{
    background-color: #713af1;
    color: #161616;
}
footer{
    display: flex;
    flex-direction: column;
}
.footer-con{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: -10px;
}
footer .inst .row img{
    width: 100%;
    height: 70px;
}
footer h4{
    font-size: 15px;
    padding-bottom: 10px;
}
footer h5{
    font-size: 13px;
    padding: 3px;
    color:#6b6969 ;
    font-weight: 400;
}
footer p{
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #6b6969;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #6b6969;
    padding: 5px;
    font-weight: 400;
}
footer .imag{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
footer .inst .imag .row img{
    width: 120px;
    height: auto;
    border: 1px solid #f741c0;
    border-radius: 6px;
}
footer .inst img.payment{
     width: 300px;
    height: auto;

}
.copy{
    font-size: 20px;
    color: #5c5f5f;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    width: 100%;

}
footer .follow{
    margin-top: 30px;
}
footer .follow i{
    margin-top: 10px;
    color: #414242;
    padding-right:4px ;
    cursor: pointer;
}
footer .follow i:hover,
footer a:hover{
    color: #037a72;
}
#mobile {
    display: none;
}
#close{
    display: none;
}
/*..................................shop page .......................................*/
#shop-hero{
    background-image: url(img/newArrival/hero.png);
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;      
    flex-direction: column;  
    text-align: center;
}
#shop-hero h2,#shop-hero p{
    color: #fff2e5;
   
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #037a72;
    font-weight: 600;
    border-radius: 4px;
    color: #ffffff;
    padding: 15px 20px;

}
/*single product */
#pdetails{
    display: flex;
    margin-top: 20px;
}
#pdetails .spi{
    width: 30%;
    margin-right: 50px;
}
.spm{
    display: flex;
    justify-content: space-between;
    background-color: #bfc4c4;
}
.spg{
    flex-basis: 24%;
    cursor: pointer;
}
#pdetails .single-pro-det{
    width: 50%;
    padding-top: 30px;
}
#pdetails .single-pro-det h6{
    padding: 40px 0 15px 0;
    font-size: 20px;
}
#pdetails .single-pro-det h4{
    font-size: 26px;
}
#pdetails .single-pro-det h2{
    font-size: 22px;
    color: #00615a;
}
#pdetails .single-pro-det select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#pdetails .single-pro-det input{
    width: 50px;
    height: 42px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#pdetails .single-pro-det button{
    background-color: #00615a;
    color: #ffffff;
}
#pdetails .single-pro-det h3{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pdetails .single-pro-det span{
    color: #2b2626;
    font-family: 'Poppins', sans-serif;
}
/* Blog page */
#blog-hero{
    background-image: url(img/blog/banner.png);
    height: 100vh;
    width: 100%;
    background-size: cover;        
    flex-direction: column;  
    align-items: flex-start;
    background-position: 60% 30%;
    padding: 200px 0 0 150px;
}
#blog-hero h4{
    color: #00615a;
    font-size: 40px;
}
#blog-hero h2{
    font-weight: 800;
    font-size: 50px;
}
#blog-hero p{
    color: #292828;
    font-family: Arial, Helvetica, sans-serif;
}
#blog-hero button{
    padding: 12px 28px;
    background-color: #00615a;
    color: #ffffff;
    border-radius:4px ;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
#blog-hero button:hover{
   background-color: #004f49;
    transform:translateY(-4px);
}
#blog{
    padding: 150px 150px 0 150px;
    background-color: #e1e9ec;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}
#blog .blog-img{
    width: 50%;
    position: relative;
    margin-right: 40px;
    z-index: 1;
}
#blog .blog-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}

#blog .blog-det{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
#blog h3 ,#blog a ,#blog span{
    padding-bottom: 10px;
}
#blog .blog-det span{
    color: #5c5f5f;
}
#blog .blog-det a{
    text-decoration: none;
    font-size: 12px;
    color: #080808;
    font-weight: 800;
    position: relative;
    transition: 0.3s;
}
#blog .blog-det a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 7px;
    right: -60px;

}
#blog .blog-img3{
    width: 50%;
    position: relative;
    margin-right: 40px;
    z-index: 1;
}
#blog .blog-img3 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 4px;
}

#blog .blog-det a:hover{
    color: #004f49;
}
#blog .blog-det a:hover::after{
    background-color: #004f49;
}
#blog .blog-box h1{
    position: absolute;
    font-size: 70px;
    font-weight: 700;
    color: #a7a5a5;
    top: -43px;
    left: 10px;
}
/*............................About Page.......................*/

#about-hero{
    background-image: url(img/blog/img6.png);
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: 70% 35%;
    display: flex;
    justify-content: center; 
    align-items: center;      
    flex-direction: column;  
}
#about-hero h2{
    color:#ffffff;
    font-size: 50px;
    font-weight: 700;
}
#about-hero p{
    color:#ffffffdd;
    font-size: 20px;
    font-weight: 200;
}
#about-con{
    padding-top: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#about-con .about-box{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 20px 0 20px;
}
#about-con .about-img {
    width: 50%;

}

#about-con .about-img img {
    width: 100%;
}

#about-con .about-det {
    width: 50%;
    text-align: left;
}
#about-con span{
    color: #5f5e5edd;

}
#about-app h1{
    text-align: center;
}
#about-app .video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

#about-app .video video{
    width: 60%;        
    max-width: 600px;  
    height: 600px;  
    object-fit: cover;      
    border-radius: 20px;
    object-position: top;
}
/*.........................Contact Page......................*/
#contact-hero {
    background-image: url('img/newArrival/contact-hero.png');
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;   
    justify-content: flex-start;   
}
#contact-hero h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #f55b7c;
    text-shadow: 1.5px 1.5px 2.5px rgb(173, 170, 170);
}
.contact-box{
    padding: 50px 0 0 20px;
}
.con-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.con-form label{
    font-weight: 700;
    color: #ccc;
}
.con-form input,
.con-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 0.5px solid #ccc;
    font-weight: 700;
}

.con-form textarea {
    height: 100px;
    width: 500px;
    resize: none;
}

.con-form button {
    margin-top: 10px;
    padding: 10px;
    background: #ff6b8b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 120px;
    margin: 15px auto;
}
/*..............................Login Page............................*/

.login-page{
    padding-top: 0;
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;        
    background: linear-gradient(135deg, #ff4da6, #7b2cbf);
    margin-top: 0;
    transition: 0.3s ease-in-out;
}
.login-con h2{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0 30px 0;
    text-align: center;
    color: #dfe6e6;
    font-size: 30px;
    font-weight: 800;
}
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    text-align: left;
}

form input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}
.login-con button{
    width: 150px;
    padding: 8px 10px;
    font-size: 14px;
    margin: 30px auto 0;
    background: linear-gradient(135deg, #ff4da6, #7b2cbf);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-links{ 
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 15px;
    margin:50px 0 0 0;
    cursor: pointer;
}
.login-con a{
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 500;
}
.login-con a:hover{
    text-decoration: underline;
    color: #4181f8;
    transition: 0.3s;
}
.login-con #forgotFrom a{
    padding-top: 20px;
}

.login-con {
    background: rgba(102, 101, 101, 0.6);
    color: white;
    padding: 30px;
    width: 500px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.hidden{
    display: none;
}
.error{
    color: rgb(255, 21, 21);
    text-align: center;
}
.success{
    color: #0feedf;
    text-align: center;
}

/*................................ MOBILE VIEW ........................*/
@media (max-width:499px) {
   
    #mobile {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    #header{
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    body{
        padding-top: 80px;
    }
    .section-p1{
        padding: 20px 40px;
    }
    h1{
        font-size: 20px;
        line-height: 1.2;
    }

    h2{
        font-size: 18px;
        line-height: 1;
    }

    h4{
        font-size: 16px;
        line-height: 1.2;
    }

    p{
        font-size: 14px;
        line-height: 1.5;
        margin: 5px 0 10px 0;
    }

    #navbar ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        text-align: left;
        top: 0;
        right: -300px; 
        height: 45vh;
        width: 200px;
        background-color: rgb(228, 231, 235);
        padding: 80px 0 0 10px;
        transition: right 0.3s ease;
        
    }
    #navbar ul.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #0a0a0a;
        font-size: 20px;
    }
    #hero{
        display: flex;
        flex-direction: column;
        text-align:left;
        align-items:flex-start;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 60% center;
        width: 100%;
        height: 300px;
        padding: 0 7px;
        padding-top: 50px;
    }
    #hero h4{
        font-size: 14px;
    }
    #hero h2{
        font-size: 12px;
        color: #222;
    }
    #hero h1{
        font-size: 13px;
    }
    #hero p{
        color: #2b2626;
        font-size: 7px;
    }
    #hero button{
        font-size: 11px;
        padding: 5px 10px;
        margin-top: 10px;

    }
    #products .container{
        justify-content: center;
    }
    #products .pro{
        width: 60%;
        min-width: 200px;
        flex-shrink: 0;

    }
     #features {
        display: flex;
        overflow-x: auto; /*for horizontal scroll */
        gap: 10px;
        scroll-behavior: smooth;
        padding: 10px;
    }
    #features::-webkit-scrollbar {
        display: none;  
    }
    #features .fea-box {
        min-width: 140px; 
        flex-shrink: 0;
    }
    #products .container {
        display: flex;
        flex-wrap: nowrap; 
        justify-content: flex-start;   
        overflow-x: auto;
        gap: 15px;
        padding: 0 5px;
    }

    #products .container::-webkit-scrollbar {
        display: none;
    }
    #products .container .pro:first-child {
        margin-left: 8%;
    }

    #products .pro img {
        width: 100%;
        height: 180px;
        object-fit: contain;
    }
    #products h2{
        text-align: center;
        font-size: 24px;
        margin-top: 5px;
    }
    
   #products p {
        white-space: nowrap;  
        overflow-x: auto; 
        margin-top: 0px;     
    }

    #products p::-webkit-scrollbar {
        display: none;           
    }
    
     #banner {
        background-image: url(img/banner1.png);
        background-size: cover;
        height: 150px;
        display: flex;
        justify-content: space-between;
    }
    #banner h4{

        font-size: 20px;
        padding-right: 100px;
        padding-top: 40px ;
    }
    #banner h1 {
    font-size: 16px;
    padding-right: 30px;
    line-height: 1.4;
    max-width: 60%;     
    white-space: normal;
    }
    #banner button{
        font-size: 11px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-right: 40%;
    }

   #banner1 {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;  
    }
    #banner1::-webkit-scrollbar {
        display: none;
    }
     #banner1 .banner-box {
        min-width: 270px;
        height: 180px;
        flex-shrink: 0;
        padding: 20px;
       
    }
   
    #banner1 .banner-box:first-child {
        margin-left: 80%;
    }
    #banner1 h4 {
        margin: 20px 0 5px 0; 
        font-size: 20px;
    }
    #banner1 h2 {
        margin: 0 0 5px 0;
        font-size: 16px;
    }
    #banner1 span {
        padding-bottom: 5px;
        font-size: 12px;  
        display: block;
        color: #000000;

    }
    #banner1 .banner-box button{
        padding: 5px 8px;
        font-size: 12px;
    }
    #banner2 {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;  
    }
    #banner2::-webkit-scrollbar {
        display: none;
    }
     #banner2 .banner-box {
        min-width: 320px;
        height: 180px;
        flex-shrink: 0;
        padding-left: 50px;
    }
    #banner2 .banner-box:first-child {
        margin-left: 179%;
    }
    #newstext{
        background-image: url(img/banner9.png);
        background-size: cover;
        height: 150px; 
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
    #newstext p{
    font-size: 12px;
    padding-right: 20px;
    line-height: 1.4;    
    white-space: normal;
    }
    #newstext .form{
        width: 100%;
    }
    #newstext input {
        height: 2.2rem;
    }
    #newstext button {
        height: 2.2rem;
        padding: 5px;
    }
    #shop-hero {
    background-image: url(img/newArrival/hero.png);
    height: 20vh;
    width: 100%;
    }
    #shop-hero p{
        font-size: 9px;
    }
    #pdetails{
        display: flex;
        flex-direction: column;
    }
    #pdetails .spi{
        width: 100%;

    }
    #pdetails .single-pro-det {
        width: 100%;
    }
    #pdetails .single-pro-det select {
        display: block;
        padding: 4px 8px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #blog-hero {
        height: 50vh;;
        background-position: 70% 30%;
        padding:100px 0 0 10px;
    }
    #blog-hero h4 {
        font-size: 30px;
    }
    #blog-hero h2{
        font-size: 30px;
        font-weight: 600;
    }
    #blog-hero p {
        font-size: 10px;
    }
    #blog-hero button {
        padding: 6px 12px;
        font-weight: 9px;
        
    }
    #blog {
        padding: 100px 10px 30px 10px;
        background-color: #e1e9ec;
    }
    #blog .blog-img3 img {
        width: 110%;
        height: 200px;
        border-radius: 4px;
    }
    #blog .blog-img img {
        width: 110%;
        height: 200px;
    }
    #pagination {
        padding-top: 80px;
    }
    #blog h3{
        font-size: 14px;
    }
    #blog span{
        font-size: 13px;
    }
    #blog a{
        font-size: 14px;
    }
    #blog .blog-box h1 {
        position: absolute;
        font-size: 70px;
        font-weight: 700;
        color: #a7a5a5;
        top: -50px;
        left: 10px;   
    }
    #about-hero {
        height: 20vh;
        width: 100%;
        background-size: cover;
    }
    #about-hero h2 {
        font-size: 30px;
    }
    #about-hero p {
    font-size: 10px;
    }
    #about-con .about-box {
        flex-direction: column;
        padding: 0 2px 0 2px;
        gap: 2px;
    }
    #about-con .about-img {
         width: 90%;
    }

    #about-con .about-det {
        width: 90%;
        text-align: left;
        padding-top: 30px;
    }
    #about-app .video video {
        width: 90%;
        max-width: 800px;
        height: 400px;
    }
    #contact-hero {
        height: 300px;
    }
    .contact-box {
        padding: 30px 0 0 0;
    }
    #contact-hero h2 {
        font-size: 15px;
        font-weight: 400;
    }
    .con-form label {
    font-weight: 500;
    font-size: 9px;
}
    .con-form input,
    .con-form textarea {
        width: 130%;
        height:20px ;
        border-radius: 3px;
        font-weight: 200;
        font-size: 8px;
    }
    .con-form textarea {
        height: 40px;
    }
    .con-form button {
    margin-top: 7px;
    padding: 5px;
    border-radius: 4px;
    width: 50px;
    margin:7px auto;
    font-size: 10px;
    }
    .login {
        min-height: 70vh;
    }
    button {
     width: 70px;
    
    }
       

    

} 
/* ............................Tab View............................................. */
@media (min-width: 500px) and (max-width: 1024px) {
    body{
        padding-top: 80px;
    }
     #hero{
        display: flex;
        flex-direction: column;
        text-align:left;
        align-items:flex-start;
        justify-content: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 60% center;
        width: 100%;
        height: 500px;
    }
    .section-p1{
        padding: 20px 40px;
    }
    h1{
        font-size: 24px;
        line-height: 1.2;
    }

    h2{
        font-size: 23px;
        line-height: 1;
    }

    h4{
        font-size: 20px;
        line-height: 1.2;
    }

    p{
        font-size: 18px;
        line-height: 1.5;
        margin: 5px 0 10px 0;
    }
    #features {
        display: flex;
        overflow-x: auto; /*for horizontal scroll */
        gap: 20px;
        scroll-behavior: smooth;
        padding: 20px;
    }
    #features::-webkit-scrollbar {
        display: none;  
    }
    #features .fea-box {
        min-width: 140px; 
        flex-shrink: 0;
    }
    #products .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    }
    #banner {
        background-image: url(img/banner1.png);
        background-size: cover;
        height: 180px;
        background-position: top center;
        background-repeat: no-repeat;
    }
    #banner h4{
        font-size: 20px;
        padding-right: 140px;
        padding-top: 40px ;
    }
    #banner h1 {
    font-size: 16px;
    padding-right: 30px;
    line-height: 1.4;
    max-width: 60%;     
    }
    #banner button{
        font-size: 11px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-right: 40%;
    }
    #banner button {
        margin-right: 20%;
    }
     #banner1 {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 40px;  
    }
    #banner1::-webkit-scrollbar {
        display: none;
    }
     #banner1 .banner-box {
        min-width: 320px;
        height: 180px;
        flex-shrink: 0;
        padding: 20px;
       
    }
    #banner1 h4 {
        margin: 20px 0 5px 0; 
        font-size: 20px;
    }
    #banner1 h2 {
        margin: 0 0 5px 0;
        font-size: 16px;
    }
    #banner1 span {
        padding-bottom: 5px;
        font-size: 12px;  
        display: block;
        color: #000000;

    }
    #banner1 .banner-box button{
        padding: 5px 8px;
        font-size: 12px;
    }
    #banner2 {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;  
    }
    #banner2::-webkit-scrollbar {
        display: none;
    }
     #banner2 .banner-box {
        min-width: 320px;
        height: 180px;
        flex-shrink: 0;
        padding-left: 50px;
    }
    #banner2 .banner-box:first-child {
        margin-left: 40%;
    }
    #shop-hero {
    height: 20vh;
}
    /* blog page */
    #blog-hero {
        height: 70vh;
        background-position: 70% 0%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        padding:200px 80px 0 30px ;

    }
    #blog-hero h2 {
        font-weight: 800;
        font-size: 40px;
    }
    #blog-hero p {
        font-size: 14px;
    }
    #pagination {
        padding-top: 70px;
    }
    #about-hero {
        height: 30vh;   
    }
    #about-hero h2 {
        font-size: 40px;
    }
    #about-hero p {
        font-size: 15px;
    }
    #contact-hero {
        height: 500px;
    
    }
    .contact-box {
        padding: 50px 0 0 0;
    }
    #contact-hero h2 {
        padding-left: 80px;
    }
    .con-form input,
    .con-form textarea {
        width: 160%;
        border-radius: 4px;
        font-weight: 500;
    }
    .con-form textarea {
        height: 100px;
        resize: none;
    }


}



   
